.services__con {
    height: 600px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;

    & .services__title { 
        margin-top: 60px;
        font-size: 32px;
        font-weight: bold;
    }

    & .services__list {
        display: flex;
        margin-top: 110px;
        justify-content: center;

        & .services__items {
            width: 250px;
            margin: 0 50px;

            & svg {
                width: 80px;
                height: 80px;
                color: #0085ff;
            }

            & h4 {
                margin: 25px 0;
                font-size: 24px;
                font-weight: bold;
                color: #0085ff;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .services__con {
        height: auto;

        & .services__list {
            flex-direction: column;
            margin: 50px 0;

            & .services__items {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}